@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PTSans';
    src: local('PTSans'), url('../public/fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
